{% extends "trialapp/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'trialapp/style.css' %}">


{% block content %}
<div class="container">
	<form action="/trialapp/updateoperator/{{user.id}}" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<!--<label for="title">Username</label>-->
		<!--<input type="text" class="form-control" name="title" id="title" value="{{user.username}}">-->
		<!---->
		<!--<label for="address">First Name</label>-->
		<!--<input type="text" class="form-control" name="address" id="address" value="{{user.first_name}}">-->
		<!---->
		<!--<label for="city">Last Name</label>-->
		<!--<input type="text" class="form-control" name="city" id="city" value="{{user.last_name}}">-->
		<!--<label for="city">Email:</label>-->
		<!--<input type="text" class="form-control" name="city" id="city" value="{{user.email}}">-->
		<!---->

		<!--<input type="submit" class="btn btn-success mt-1 " value="Update">-->
	</form>
</div>
{% endblock content %}