{% extends "trialapp/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h3 class="display-4">Operator Signup</h3>
          <form method="POST" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                 <label>Username</label>
                    {{ form.username}}
                </div>

                 <div class="input-field col s6">
                  <label>Email</label>
                    {{ form.email}}
                </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                  <label>First Name</label>
                    {{ form.first_name}}
                </div>
                <div class="input-field col s6">
                  <label>Last Name</label>
                    {{ form.last_name}}
                </div>
              </div>
            <div class="row">
                <div class="input-field col s6">
                  <label>Password</label>
                    {{ form.password1}}
                </div>
                <div class="input-field col s6">
                  <label>Confirm Password</label>
                    {{ form.password2}}
                </div>
              </div>
            <div class="row">
                <div class="input-field col s6">
                              <input type="submit" class="btn btn-block btn-success mt-3" name="submit">

                </div>
                <div class="input-field col s6">
                              <input type="reset" class="btn btn-block btn-primary mt-3" name="reset">

                </div>
              </div>
          </form>
  </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'trialapp/jquery.min.js' %}"></script>
    <script src="{% static 'trialapp/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'trialapp/jquery.easing.min.js' %}"></script>

{% endblock content %}
  <!--</body>-->

<!--</html>-->
            

            