{% load static %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Register</title>

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'trialapp/bootstrap.min.css' %}">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'trialapp/all.min.css' %}">

    <!-- Custom styles for this template-->
    <link href="{% static 'trialapp/sb-admin.css' %}" rel="stylesheet">

    <link href="{% static 'trialapp/style.css' %}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                 <label>Username</label>
                  <div class="form-label-group">
                    {{ form.username}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="form-label-group">
                    {{ form.email}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>First Name</label>
                  <div class="form-label-group">
                    {{ form.first_name}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Last Name</label>
                  <div class="form-label-group">
                    {{ form.last_name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Password</label>
                  <div class="form-label-group">
                    {{ form.password1}}
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Confirm Password</label>
                  <div class="form-label-group">
                    {{ form.password2}}
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" class="btn btn-success mt-3" name="submit">
            <input type="reset" class="btn btn-primary mt-3" name="reset">
          </form>
          <div class="text-center">

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'trialapp/jquery.min.js' %}"></script>
    <script src="{% static 'trialapp/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'trialapp/jquery.easing.min.js' %}"></script>

  </body>

</html>
            

            