body{
	margin: 0;
	padding: 0;
	background-color: white; 

}
#base{
		display: flex;
}
#class-base,#class-base2{

	height: 500px;
	width: 50%;
	background-color: grey; 
}
#class-base2{

	background-color: lightgrey; 
}
.posi{
	color: red;
}
#demo{
	border-radius: 5px;
	width: 100px;
	display: none;
	height: 200px;
	position: fixed;
	background-color: white;
	font-weight: bold;
	margin:0;
	font-size: 25px;
}
#demo ul, #demos ul{
	list-style-type: none;
	margin :0px;
	padding: 0px;
}
#demo ul li, #demos ul li{
	background-color: aliceblue;
	border: 1px solid black;
	margin: 2px;


}
#demos{
	border-radius: 5px;
	display: none;

	width: 100px;
	height: 200px;
	position: fixed;
	margin:0;
	background-color: white;
	font-weight: bold;
	font-size: 25px;
}
